<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean name="aopXmlDemo" class="com.k.spring.aop.xml.AopXmlDemo"></bean>
    <bean name="aopPointTest" class="com.k.spring.aop.point.xml.AopPointTest"></bean>
    <aop:config>
        <aop:aspect id="ap" ref="aopXmlDemo">
            <aop:before method="befer" pointcut="execution(* com.k.spring.aop.point.xml.*.*(..))"/>
        </aop:aspect>
    </aop:config>
</beans>