<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <Properties>
        <property name="LOG_PATH">logs</property>
        <property name="log4j_pattern">%d{yy-MM-dd HH:mm:ss,SSS}
            [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId}] [%thread] %-5p %c{1.}(%F:%L) \#\# %m%n
        </property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${log4j_pattern}"/>
        </Console>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
