<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.k.web.mybatis.dao.MybatisTestDao">
    <select id="select" parameterType="vo" resultType="vo">select t.id,t.vname from mybatis t</select>
    <update id="update" parameterType="vo">update mybatis t set t.vname=1 where t.id=#{id}</update>
    <delete id="delete" parameterType="vo">delete from mybatis where id=#{id}</delete>
    <!-- 	<delete id="deleteAll" parameterType="vo">delete from mybatis where id=#{id}</delete> -->
    <insert id="insert" parameterType="vo">insert into mybatis(vname)values(#{vname})</insert>
</mapper>